@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all {
    width: 336px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    padding: 0px;
    background-color: #ffffff;
}

.head {
    width: 100%;
    height: 28px;
    background-color: #FFDC40;
    border-radius: 9px 9px 0 0;
}

h1 {
    margin: 20px 0;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: #000;
}

.sort-container {
    margin-top: -8px;
    margin-bottom: 3px;
    margin-left: 250px;
}

.sort,
.sorthover,
.sortik,
.sortikhover {
    width: 30px;
    height: 20px;
    cursor: pointer;
    transition: opacity 0s;
}

.sorthover,
.sortikhover {
    display: none;
}

.sort-container:hover .sort {
    display: none;
}

.sort-container:hover .sorthover {
    display: inline;
}

.sortik {
    display: none;
}

.myList {
   display: flex;
    align-items: center;
    border: 1px solid #C4C4C4;
    border-radius: 6px;
    width: 90%;
    margin-bottom: 20px;
    padding: 5px;
}

.myList ol {
    width: 100%;
    list-style-type: none;
    padding: 0;
}

.myList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.myList li:hover {
    background-color: #f9f9f9;
}

.myList li .task-input {
    width: 80%;
    border: none;
    font-size: 14px;
}

.myList li .task-input:focus {
    outline: none;
}

.task.dragging {
    opacity: 0.5;
    background-color: #e0e0e0;
}

.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #C4C4C4;
    border-radius: 6px;
    width: 90%;
    margin-bottom: 20px;
    padding: 5px;
}

input[type="text"] {
    width: 80%;
    height: 25px;
    border: none;
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
}
input:focus {
    outline: none;
}

img.x,
img.xhover {
    width: 20px;
    cursor: pointer;
    margin-left: 32px;
    transition: opacity 0.1s;
}

img.x {
    display: inline;
}

img.xhover {
    display: none;
}

.input-container:hover .x {
    display: none;
}

.input-container:hover .xhover {
    display: inline;
}

.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #833AE0;
    border: none;
    border-radius: 21px;
    width: 150px;
    height: 42px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    position: relative;
}

.plus {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9953F1;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    margin-right: 10px;
}

.add {
    flex-grow: 1;
    margin-left: 25px;
    ;
}